#
# Set to your RAP project ID, you can find your RAP project IDs with:
#	dx find projects
#
PROJECT_ID=project-GbfkqPQJgp3f3yZ26F3GG536

#
# Set to the directory in your RAP project where you want DeepPheWAS installed
#
PROJECT_DIR=/deep_phewas

# 
# Set to your latest RAP dataset from which phenotype data will be extracted:
#	dx ls '/*.dataset'
#
DATASET=/app43027_20231210173935.dataset

#
# Phenotype generation/filtering options (see DeepPheWAS documentation)
#
exclusions=
groupings=ancestry_panUKB_noEUR
relate_remove=true
IVNT=true
phewas_manifest=PheWAS_manifest.csv
concept_codes=concept_codes.zip
PQP_codes=PQP_codes.zip
composite_phenotype_map_overide=composite_phenotype_map_full.csv

#
# Provide a names for the sets of phenotypes generated and filtered with current options
# 
PHENOTYPES_GENERATED=default_phenotypes
PHENOTYPES_FILTERED=filtered_phenotypes

#
# Association testing options
#
snp_list=AR_DeepPheWAS_Variants.csv
covar=covar_new.txt
covarColList="age,PC{1:10}"
catCovarList="sex,array"
phenotype_inclusion_file=
analysis_name=AR
phenoColList="Q2001,Q2010,Q2030,Q0123,Q2040,P2007,P2014,P2019,P2027,P2030,P2031,P2032,P2033,P2038,P2039,P2046,P2048,P2053,P2090,P2200.39,P2020,P2021,P2008,P2012,P2013,P2014,P2016,P2018,Q1500,Q1500_age,Q0007,Q0007_age,Q0123,Q0123_age,Q1000,Q1000_age"
