#
# Set to your RAP project ID, you can find your RAP project IDs with:
#	dx find projects
#
PROJECT_ID=project-GbfkqPQJgp3f3yZ26F3GG536

#
# Set to the directory in your RAP project where you want DeepPheWAS installed
#
PROJECT_DIR=/deep_phewas

# 
# Set to your latest RAP dataset from which phenotype data will be extracted:
#	dx ls '/*.dataset'
#
DATASET=/app43027_20231210173935.dataset

#
# Phenotype generation/filtering options (see DeepPheWAS documentation)
#
exclusions=
groupings=ancestry_panUKB
relate_remove=true
IVNT=true
phewas_manifest=PheWAS_manifest.csv
concept_codes=concept_codes.zip
PQP_codes=PQP_codes.zip
composite_phenotype_map_overide=composite_phenotype_map_full.csv

#
# Provide a names for the sets of phenotypes generated and filtered with current options
# 
PHENOTYPES_GENERATED=default_phenotypes
PHENOTYPES_FILTERED=filtered_phenotypes

#
# Association testing options
#
snp_list=SPT_DeepPheWAS_Variants.csv
covariates=covariates_plink
phenotype_inclusion_file=
analysis_name=SPT
