PROJECT_ID=project-GbfkqPQJgp3f3yZ26F3GG536
PROJECT_DIR=/deep_phewas
DATASET=/app43027_20231210173935.dataset

PHENOTYPES=default_phenotypes

exclusions=
phewas_manifest=PheWAS_manifest.csv
concept_codes=concept_codes.zip
PQP_codes=PQP_codes.zip
composite_phenotype_map_overide=composite_phenotype_map_full.csv
