. options.config

DOCKER_TAG=legenepi/deep_phewas
DOCKER_SAVE=DeepPheWAS.docker.tar.gz
PLINK2_VERSION=avx2_20220514
PLINK2=plink2_linux_$PLINK2_VERSION
PACKAGE=nshrine/DeepPheWAS
FIELDS_MINIMUM=fields-minimum.txt.gz
FIELDS_USE=fields_use.txt
COVAR_FIELDS=covar_fields.txt
EXTRA_OPTIONS=extraOptions.json

INPUTS=${PROJECT_ID}:${PROJECT_DIR}/inputs
PHENOTYPES=${PROJECT_ID}:${PROJECT_DIR}/phenotypes/${PHENOTYPES_GENERATED}
DXCOMPILER_URL=https://github.com/dnanexus/dxCompiler/releases/download/2.13.0/dxCompiler-2.13.0.jar
DXCOMPILER=`basename $DXCOMPILER_URL`
WOMTOOL_URL=https://github.com/broadinstitute/cromwell/releases/download/85/womtool-85.jar
WOMTOOL=`basename $WOMTOOL_URL`
PHENOTYPE_TABLES=${PROJECT_DIR}/phenotype_tables/${PHENOTYPES_FILTERED}
RESULTS=${PROJECT_DIR}/results/${analysis_name}

MINIMUM_DATA=minimum_tab_data
COVAR=covar_extracted

ENTITIES="death death_cause gp_clinical gp_scripts hesin hesin_diag hesin_oper"
KEYS="GPP hesin_oper GPC hesin_diag death HESIN death_cause king_coef"
OPTIONS="exclusions phewas_manifest concept_codes PQP_codes composite_phenotype_map_overide"

WDL="phenotype_generation.wdl phenotype_preparation.wdl regenie_step1.wdl regenie_step2_SV.wdl"

GPP=${INPUTS}/gp_scripts.tsv
hesin_oper=${INPUTS}/hesin_oper.tsv
tab_data="${INPUTS}/${MINIMUM_DATA}.csv"
GPC=${INPUTS}/gp_clinical.tsv
hesin_diag=${INPUTS}/hesin_diag.tsv
death=${INPUTS}/death.tsv
HESIN=${INPUTS}/hesin.tsv
death_cause=${INPUTS}/death_cause.tsv
king_coef="/Bulk/Genotype Results/Genotype calls/ukb_rel.dat"

phenotype_filtered_save_name=`[ "$IVNT" = "true" ] && echo "IVNT_"`${PHENOTYPES_FILTERED}
stats_save=${phenotype_filtered_save_name}_stats
RDS="data_field_phenotypes.RDS all_dates.RDS composite_phenotypes.RDS phecodes.RDS concepts.RDS PQP.RDS formula_phenotypes.RDS range_ID.RDS"
phenotype_files=`echo -n $RDS | sed 's%\(^\| \)%\1'${PHENOTYPES}'/%g'`

STEP1_GENO="/Bulk/Genotype Results/Genotype calls/ukb22418_c*"
STEP2_GENO="/Bulk/Imputation/UKB imputation from genotype/ukb22828_c*"
ASSOC_INPUTS=${analysis_name}_inputs
REGENIE_STEP1_INPUTS=${phenotype_filtered_save_name}_regenie_step1_inputs
REGENIE_STEP1_MISSING_THRESH=0.15
REGENIE_STEP2_INPUTS=${analysis_name}_regenie_step2_inputs
