PROJECT_ID=project-GbfkqPQJgp3f3yZ26F3GG536
PROJECT_DIR=/deep_phewas
DATASET=/app43027_20231210173935.dataset
PACKAGE=nshrine/DeepPheWAS
EXTRA_OPTIONS=${BASE}/extraOptions.json
INPUTS=${PROJECT_DIR}/inputs
INTERMEDIATE=${PROJECT_DIR}/intermediate
PHENOTYPES=default_phenotypes
KING_COEF="/Bulk/Genotype Results/Genotype calls/ukb_rel.dat"
DXCOMPILER_URL=https://github.com/dnanexus/dxCompiler/releases/download/2.11.4/dxCompiler-2.11.4.jar
DXCOMPILER=`basename $DXCOMPILER_URL`
WOMTOOL=https://github.com/broadinstitute/cromwell/releases/download/85/womtool-85.jar
